@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=TASA+Orbiter:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rajdhani:wght@300;400;500;600;700&family=TASA+Orbiter:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Rajdhani:wght@300;400;500;600;700&family=TASA+Orbiter:wght@400..800&display=swap');

:root {
    --preto: #000;
    --branco: #fff;
    --amarelo: #FFE81F;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--preto);
    font-family: 'Rajdhani', 'Arial';
}

#logo {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    width: 100%;            
    padding: 20px 0;      
    color: var(--branco);   
}

#logo-starwars {
    max-width: 200px;      
    height: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--preto);
    padding: 0 2rem;
    height: 56px;
    font-family: 'Michroma';
}

.logo { 
    color: var(--amarelo); 
    font-size: 16px; 
}

nav a {
    color: #ccc;
    text-decoration: none;
    padding: 6px 14px;
    border-radius: 6px;
    transition: background .2s, color .2s;
}
nav a:hover, nav a.active {
    background: rgba(255,232,31,.12);
    color: var(--amarelo);
}

#menu {
input{
    padding: 6px 15px;
    border-radius: 30px;
    font-family: 'Michroma';
    border: none;
    font-size: 80%;
}

button {
    padding: 6px 15px;
    border-radius: 30px;
    color: var(--preto);
    background-color: var(--amarelo);
    font-family: 'Michroma';
    border: none;
    transition: all 0.5s ease;
}

button:hover {
    color: var(--branco);
    background-color: var(--preto)
}
}

.banner-container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    overflow: hidden; 
    border: 2px solid var(--amarelo);
    border-radius: 8px;
}

.banner-slide {
    display: flex;
    width: 300%;
    animation: slide-automático 12s infinite ease-in-out;
}

.slide {
    width: 33.3333%; 
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    display: block;
    height: 400px; 
    object-fit: cover; 
}

@keyframes slide-automático {
    0%, 25% { transform: translateX(0); }            
    33%, 58% { transform: translateX(-33.3333%); }         
    66%, 91% { transform: translateX(-66.6666%); }        
    100% { transform: translateX(0); }          
}

#mensagem {
    h2{
        display: flex;
        justify-content: center;
        font-family: 'Michroma';
        color: var(--amarelo);
        padding: 0 0 20px
    }
}

.personagens{background-color: var(--amarelo);}

.personagens-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    padding: 20px;
}

.personagens-item {
    width: 170px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}    

.personagens-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--preto);
    margin-bottom: 10px;
}

.personagens h2 {
    text-align: center;
    color: var(--preto);
    font-family: 'Michroma';
    font-weight: 1000;
    padding: 25px 20px 20px;
    font-size: 28px;
}

.personagens button{
    border: none;
    border-radius: 8px;
    font-family: 'Rajdhani';
    color: var(--branco);
    font-weight: 600;
    background-color: var(--preto);
    font-size: 18px;
}

.cards-container {
    background-color: var(--preto);
    color: var(--amarelo);
    padding-bottom: 50px;

    h2{
        color: var(--amarelo);
        text-align: center;
        font-family: 'Michroma';
        font-weight: 1000;
        padding: 25px 20px 20px;
        font-size: 28px;
    }
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card-planeta {
    display: flex;
    flex-direction: column;
    color: var(--preto);
    width: 250px;
    min-height: 150px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.558);
    h2{
        color: var(--preto);
        margin: 0 0 10px 0;
        font-size: 20px;
        font-family: 'Michroma';
        text-align: center;
    }

    p{
        font-size: 14px;
        margin: 0;
        font-weight: 500;
    }
}

#tatooine { background-color: #f6c00f; }
#coruscant {background-color: #5575ff;}
#hoth {background-color: #92e7ff;}
#endor {background-color: #68c377;}
#naboo {background-color: #41c4e9;}
#mustafar {background-color: #e12633;}
#dragobah {background-color: #bee032;}
#alderaan {background-color: #f45b5b;}

hr {
    height: 3px; 
    background-color: var(--amarelo); 
    border: none;            
}

#banner-titulo{
    background-color: var(--amarelo);
    color: var(--preto);
    padding: 0 5px; 
}
.forca {
    color: var(--amarelo);

    h2{
        font-family: 'Michroma';
        text-align: center;
        font-size: 28px;
        font-weight: 1000;
        padding: 25px 20px 20px;
    }

    h3{
        font-family: 'Rajdhani';
        padding: 0 20px;
        font-size: 35px;
    }

    p{
        font-family: 'Rajdhani';
        padding: 0 20px 0 30px;
        font-size: 25px;
        font-weight: 100;
    }

    img {
        display: block;
        margin: 20px auto; 
        width: 50%;
        height: auto;
        object-fit: cover;
    }

    p::first-letter{
        font-family: 'Orbitron';
        font-size: 40px;
        font-weight: 500;
        line-height: 24px;
    }

    p::selection {
        color: var(--preto);
        background-color: var(--branco);
    }
}

#jedi, #sith {
    width: calc(100% - 40px);
    margin: 20px auto; 
    padding: 20px;
    border-radius: 15px;
    box-sizing: border-box;
    color: var(--amarelo);
}

#jedi {
    background-color: rgba(0, 128, 0, 0.736); 
    border: 1px solid rgba(0, 255, 0, 0.3); 
}

#sith {
    background-color: rgba(255, 0, 0, 0.534); 
    border: 1px solid rgba(255, 0, 0, 0.3); 
}

#jedi h4, #sith h4 {
    font-family: 'Michroma';
    margin-top: 0;
    font-size: 24px;
}

#jedi p, #sith p {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 300;
}

#jedi p::first-letter, 
#sith p::first-letter {
    font-family: inherit; 
    font-size: inherit; 
    font-weight: inherit; 
    line-height: inherit;
    float: none;
    padding: 0; 
}

#jedi img {
    border-radius: 10px;
    width: 400px;
}

.sabre {
    background-color: var(--amarelo);
    color: var(--preto);

    h2 {
        text-align: center;
        font-family: 'Michroma';
        font-weight: 1000;
        padding: 25px 20px 20px;
        font-size: 28px;
    }
}

.sabre-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.sabres {
    display: flex;
    flex-direction: column;
    color: var(--preto);
    width: 250px;
    min-height: 150px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.558);
}

#azul {background-color: #4FC3F7};
#verde {background-color: #66BB6A;}
#vermelho {background-color: #EF5350;}
#lilas {background-color: #CE93D8;}
#branco {background-color: #F0F4FF;}
#preto{background-color: #1A1A1A; h5{color: var(--branco);} p{color: var(--branco);}}
#amarelo{background-color: #FFCC80;}
#laranja{background-color: #FF8A65;}

.footer {
    color: var(--amarelo);
    text-align: center;
}